 .text {
   /* padding: 10px; */
   color: #fff;
   font-weight: lighter;
   background: linear-gradient(-90deg, #ED303C 50%, #000 0) left/200% 100% no-repeat;
   -webkit-background-clip: text;
   background-clip: text;
   transition: .4s linear;
   padding-bottom: -30px;
 }

 .text {
   background-position: right;
 }

 .text:hover {
  color: red;
 }

 .text:before {
   content: "";
   position: absolute;
   inset: auto 100% 0 0;
   height: 1px;
   background: #ED303C;
   transition: inherit;
 }

 .text:hover:before {
   inset: auto 0 0 0;
 }

 p {
   display: inline-block;
   font-size: 15px;
   font-family: sans-serif;
   /* margin: 25px; */
   cursor: pointer;
   position: relative;
 }

 p:before,
 p:after {
   pointer-events: none;
 }